#term-control{
    padding: 4px;
    height: 5vh;
    bottom: 10px !important;
}

.terminal{
    /* margin-top: 10px; */
    margin: auto;
    width: 100%;
}

.Terminal{
    background-color: #272822 !important;
}

#term{
    height: 100%;
    overflow: auto;
}